.estadio-container {
    margin-top: 90px;
    text-align: center;

}
.tabs {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
}
.barra-button {
    background-color: transparent;
    height: 90px;
    border: none;
    padding: 10px 15px;
    font-size:25px;
    font-weight: bold;
    cursor: pointer;
    color: #adacac;
}

.barra-button.active {
    color: #000;
    border-bottom: 2px solid #000;
}




.imagen-estadio {
  position: relative;
  width: 100%;
  height: 400px; /* o lo que quieras */
  border-radius: 20px;
  overflow: hidden; /* para que los bordes redondeados funcionen */
  margin-top: 20px;
}

