.header {
    background-color:#000; /* Color semitransparente */
    height: 90px;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    position: fixed;
}


.logo img {
    height: 70px;
    width: auto;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 5px;
}

/* --- efecto para los botones --- */
.menu a {
  position: relative;
  display: block;
  width: 120px;         
  height: 40px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(0deg);
  transition: transform 1s;
  text-decoration: none;
}

.menu a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #000;
  box-sizing: border-box;
}

.menu a:hover {
  transform: perspective(1000px) rotateX(360deg);
}

.menu a span:nth-child(1) {
  transform: rotateX(0deg) translateZ(20px);
}
.menu a span:nth-child(2) {
  transform: rotateX(90deg) translateZ(20px);
}
.menu a span:nth-child(3) {
  transform: rotateX(180deg) translateZ(20px);
}
.menu a span:nth-child(4) {
  transform: rotateX(270deg) translateZ(20px);
}

