.palmares-seccion {
    padding-top: 90px;
    padding: 20px; 
    background-color: #f0f0f0;
    text-align: left;
}

.palmares-seccion h2 {
  margin-bottom: 30px;
  font-size: 50px;
  color: #204cdb;
}



.trofeo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.trofeo-item img {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
}

.trofeo-item:hover img {
    filter: grayscale(0%) drop-shadow(0 0 15px rgb(255, 217, 0));
}

.trofeo-item h3 {
    font-size: 40px;
    color: #204cdb;
    margin-bottom: 5px;
}

.trofeo-item p {
    font-size: 20px;
    color: #000000;
}

.trofeo-info {
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

.imagen-lado-der img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-fit: cover;
    border-radius: 20px; 
    display: block; 
    margin: 0 auto; 
}



.noticia-item img {
  width: 100%; 
  height: 200px;
  object-fit: cover;
  display: block; 
}